@media screen and (max-width: 760px){

    body, header, html{

        max-width: 411px;

    }

    #spotify{
        position: relative;
        width: 20%;
        height: 10%;
        justify-self:left;
        align-self: center;
        right: 40px;

    }

    .popup-mobile{

        z-index: 2000;
        display: block;
        position: fixed;
        color: white;
        min-width: 700px;
        height: 100vh;
        background-color: black;

    }

    @keyframes popup-mobile {
        0% {
            transform: translateX(100px);
        }
        100% {
            transform: translateX(0);
        }
    }

    #close{

        position: relative;
        color: white;
        margin-left: 10px;
        width: 23px;
        left: 8cm;
        top: 15px;
        display: inline-block;

    }

    #spotify-mbl{
        position: relative;
        width: 10%;
        height: 5%;
        justify-self:left;
        align-self: center;
        padding: 30px;
        top: 3cm;

    }

    .img-minha{

        position: relative;
        left: 40px;
        width: 30px;

    }

    .bar{

        position: relative;
        color: white;
        margin-left: 10px;
        width: 23px;
        left: 45px;
        display: inline-block;

    }

    .h1-nav{

        line-height: 5px;
        margin: 0;
        font-size: 30px;
        padding: 30px;
        text-align: left;

    }

    .h2-nav{

        line-height: 5px;
        margin: 0;
        font-size: 25px;
        padding: 30px;
        text-align: left;
        font-family: 'CircularStdLight';
        font-weight: lighter;

    }

    nav{

        padding: 0px;
        margin: 0 auto;

    }

    header{

        background-color: black;
        padding: 10px;

    }

    li{

        display: none;

    }

    h1{

        font-size: 42px;

    }

    #sujeito{

        position: relative;
        bottom: 4.5cm;

    }

    .container{

        padding: 15px;

    }

    .green-a{

        font-size: 15px;

    }

    .nav{

        display: none;

    }
    a{
        color: white;
    }
  
    }